@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

:root{
    --black:#141414;
    --white:#fff;
    --logo_green:rgba(83, 138, 127, 0.877);
    --logo_grey: #616161;
    --logo_blue: #399ab5de;
    --logo_orange: #EB8836;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marcellus', serif;
    color: var(--logo_grey);
}

body{
    background-image: url(/img/banner1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.register{
    background-color: rgba(227, 227, 227, 0.8);
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.500)
    
}

.logo-register{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.logo-register img{
    max-width: 20vw;
}
.logo-register p{
    border-left: 0.5px solid var(--logo_grey);
    padding: 15px 0 15px 40px;
    margin: 25px 0 0 40px;
    letter-spacing: 5px;
    font-size: 1.5rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.user input{
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: var(--logo_grey);
    border-width: 1px;
    margin-bottom: 4vh;
    letter-spacing: 1px;
    width: 60vh;
    height: 5vh;
    margin-left: 1vh;
    font-size: 1em;
}

.btn{
    border: 1.5px solid var(--logo_grey);
    border-radius: 5px;
    padding: 10px 15px;
    background-color: transparent;
    letter-spacing: 2px;
    font-size: 15px;
    transition: .5s ease all;
}

.cadastrar-btn a{
    text-decoration: none;
    color: var(--logo_grey);
}

.btn:hover{
    background-image:linear-gradient(to bottom right, var(--logo_green),var(--logo_blue));
    border: 1.5px solid transparent;
    color: var(--white);
}




